.input-form{
    margin:3vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

input{
    margin:2vh;
}

.input-submit-button{
    margin-top: 5vh;
}